@{
    ViewBag.Title = "Inicio - Laboratorio Clínico OMYLAB";
}

<div class="container text-center mt-5">
    <img src="~/imagenes/logo.jpg" alt="OMYLAB Logo" class="mb-4" style="max-width: 200px;">

    <h1 class="display-4 mb-3" style="color: #8B0000;">Bienvenido a OMYLAB</h1>
    <p class="lead mb-4">Confianza y precisión en cada resultado clínico.</p>

    
</div>
